{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 2022
  },
  "rules": {
    "camelcase": [
      "error"
    ],
    "no-console": "error",
    "func-names": "error",
    "no-use-before-define": [
      "error",
      "nofunc"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "object-curly-newline": [
      "off"
    ],
    "no-plusplus": [
      "off"
    ],
    "no-continue": [
      "off"
    ],
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "import/no-unresolved": [
      "off"
    ],
    "no-restricted-syntax": [
      "error",
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "spaced-comment": [
      "error",
      "always",
      {
        "line": {
          "exceptions": [
            "-",
            "+"
          ],
          "markers": [
            "=",
            "!",
            "#"
          ]
        },
        "block": {
          "exceptions": [
            "-",
            "+"
          ],
          "markers": [
            "=",
            "!",
            "#"
          ],
          "balanced": true
        }
      }
    ],
    "no-mixed-operators": [
      "error",
      {
        "groups": [
          [
            "%",
            "**"
          ],
          [
            "%",
            "+"
          ],
          [
            "%",
            "-"
          ],
          [
            "%",
            "*"
          ],
          [
            "%",
            "/"
          ],
          [
            "&",
            "|",
            "<<",
            ">>",
            ">>>"
          ],
          [
            "==",
            "!=",
            "===",
            "!=="
          ]
        ],
        "allowSamePrecedence": false
      }
    ],
    "max-len": [
      "error",
      140,
      2,
      {
        "ignoreUrls": true,
        "ignoreComments": false,
        "ignoreRegExpLiterals": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ]
  }
}
